<header class="flex items-center justify-between p-6 bg-white shadow">
    <!-- ซ้าย: Logo / Company Identity -->
    <div class="flex-1">
      <a href="#" class="btn btn-ghost normal-case text-xl flex items-center gap-2">
        <img src="/img/logo.svg" alt="HealthMe Logo" class="h-8 w-8"/>
        HealthMe
      </a>
    </div>

    <!-- right side: Menu links + Language -->
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 space-x-2">
        <li><a href="#">Health Me</a></li>
        <li><a href="#">Clinic Software</a></li>
        <li><a href="#">Home Care</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Support</a></li>
        <li>
          <details class="group">
            <summary class="cursor-pointer">Language</summary>
            <ul class="absolute mt-1 bg-base-100 rounded-md p-2 shadow-md hidden group-open:block">
              <li><a href="#">EN</a></li>
              <li><a href="#">TH</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

</header>
