<!--hero-->
<section class="py-16 px-6 bg-base-100">
  <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">

    <!-- left: message -->
    <header id="hero" class="space-y-6">
      <h1 class="h1 font-bold leading-tight">
        Track your day,<br>
        Know your health.<br>
        Change your life.<br>
        <span class="text-primary">#HealthMe</span>
      </h1>

      <p class="text-lg text-base-content/70">
        Health Me helps you understand your health in an easier way.
      </p>

      <h2 class="h2 font-semibold">Use #HealthMe to Track your day</h2>
      <p class="text-base text-base-content/70 max-w-md">
        Easier health trackers for everyone. Keeping the data in your mobile phone’s local database is the safest way to handle this.
      </p>

    </header>

    <!-- right: img -->
    <div class="flex justify-center lg:justify-end">
      <img src="img/header.png"
           alt="HealthMe App Preview"
           class="rounded-lg object-contain max-h-[400px]" />
    </div>

  </div>
</section>




<section id="card1" class="py-10 px-4">
  <div class="max-w-6xl mx-auto grid gap-6 grid-cols-1 lg:grid-cols-3">

<!--card section 1    -->
    <!-- Card 1 -->
    <div class="card bg-base-100 lg:card-side border border-base-200 rounded-lg">
      <figure class="lg:w-1/2">
        <img src="https://placehold.co/600x400?text=Apple+Health" alt="Apple Health" class="object-cover h-full w-full rounded-t-lg lg:rounded-l-lg lg:rounded-tr-none"/>
      </figure>
      <div class="card-body">
        <h2 class="card-title">Link with Apple Health</h2>
        <p>
          Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drill down on the data in a couple clicks.
        </p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card bg-base-100 lg:card-side border border-base-200 rounded-lg">
      <figure class="lg:w-1/2">
        <img src="https://placehold.co/600x400?text=Choose+Interest" alt="Choose Interest" class="object-cover h-full w-full rounded-t-lg lg:rounded-l-lg lg:rounded-tr-none"/>
      </figure>
      <div class="card-body">
        <h2 class="card-title">Choose what you’re interested</h2>
        <p>
          You don’t have to know everything all at once. Just the story you’re concerned. This makes all the data more meaningful.
        </p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card bg-base-100 lg:card-side border border-base-200 rounded-lg">
      <figure class="lg:w-1/2">
        <img src="https://placehold.co/600x400?text=Read+Your+Way" alt="Read Your Way" class="object-cover h-full w-full rounded-t-lg lg:rounded-l-lg lg:rounded-tr-none"/>
      </figure>
      <div class="card-body">
        <h2 class="card-title">Read the way you like</h2>
        <p>
          Content available in both life story style or normal graphs.
        </p>
      </div>
    </div>

  </div>
</section>
